 .u-section-1 {
  min-height: 4181px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1461px;
  margin: 0 auto 0 calc(((100% - 1320px) / 2)  + -91px);
}

.u-section-1 .u-layout-cell-1 {
  min-height: 579px;
  --radius: 50px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 1460px;
  height: 149px;
  margin: -12px -496px 0 0;
}

.u-section-1 .u-image-2 {
  width: 639px;
  height: 163px;
  margin: 78px -142px 0 auto;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  margin: 73px 75px 0 229px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 579px;
  --radius: 50px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-image-3 {
  height: 66px;
  width: 1459px;
  margin: 149px auto 0 -1241px;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 3632px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 3632px;
  --radius: 50px;
}

.u-section-1 .u-container-layout-5 {
  padding: 0;
}

.u-section-1 .u-text-2 {
  margin: -79px 94px 0 851px;
}

.u-section-1 .u-image-4 {
  width: 540px;
  height: 623px;
  margin: -90px 0 0 auto;
}

.u-section-1 .u-text-3 {
  margin: -525px 581px 0 -19px;
}

.u-section-1 .u-text-4 {
  margin: -6px 581px 0 -19px;
}

.u-section-1 .u-text-5 {
  margin: 67px auto 0 -19px;
}

.u-section-1 .u-text-6 {
  margin: 75px 581px 0 -19px;
}

@media (max-width: 1399px) {
   .u-section-1 {
    min-height: 3256px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 1140px;
    margin-left: calc(((100% - 1140px) / 2));
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 452px;
  }

  .u-section-1 .u-image-1 {
    width: 555px;
    height: 57px;
    margin-right: 0;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 144px;
  }

  .u-section-1 .u-layout-cell-3 {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 452px;
  }

  .u-section-1 .u-image-3 {
    height: 7px;
    width: 165px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 2834px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 2834px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -80px;
    margin-right: 0;
    margin-left: 595px;
  }

  .u-section-1 .u-image-4 {
    margin-top: 665px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -1310px;
    margin-right: 366px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 336px;
    margin-right: 365px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -138px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 358px;
  }
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 2680px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 373px;
  }

  .u-section-1 .u-image-1 {
    width: 455px;
    height: 47px;
  }

  .u-section-1 .u-image-2 {
    width: 455px;
    height: 116px;
    margin-right: 0;
  }

  .u-section-1 .u-text-1 {
    margin-left: 44px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 373px;
  }

  .u-section-1 .u-image-3 {
    height: 6px;
    width: 132px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 2337px;
  }

  .u-section-1 .u-layout-cell-5 {
    background-position: 50% 50%;
    min-height: 2337px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 428px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 199px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 198px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 191px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 2046px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-image-1 {
    width: 345px;
    height: 36px;
  }

  .u-section-1 .u-image-2 {
    width: 345px;
    height: 88px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 286px;
  }

  .u-section-1 .u-image-3 {
    height: 4px;
    width: 95px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 1790px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 245px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 16px;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 15px;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 8px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 9512px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 1287px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 8055px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -83px;
    margin-left: 190px;
  }

  .u-section-1 .u-image-4 {
    margin-top: 210px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -855px;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-top: -356px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 6052px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 35px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 87px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 810px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 5072px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }

  .u-section-1 .u-image-4 {
    width: 340px;
    height: 392px;
    margin-top: 1305px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -1719px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 105px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -381px;
  }
}